<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anuin">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReviewActivity"></activity>
        <activity
            android:name=".order.OrderProcessActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".order.BayarActivity" />
        <activity
            android:name=".order.OrderWaitingActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NotifActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".order.MetodePembayaranActivity" />
        <activity android:name=".introNlogin.RegisterActivity" />
        <activity android:name=".introNlogin.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".introNlogin.ApiLoginActivity" />
        <activity android:name=".introNlogin.WelcomeActivity" />
        <activity
            android:name=".FormPesananActivity"
            android:parentActivityName=".DetailJasaActivity" />
        <activity
            android:name=".DetailJasaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddAddress"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".introNlogin.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>